.tit_log{
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
}

.center-avatar{
    margin: auto;
}

.validation_messages{
    color:red;
    font-size: 12px;
    margin-top: 5px;
}

.register{
    
    color: black;
    background-color: white;
    text-align: center;
    text-decoration: none;

}

.registerL{
    text-decoration: none;
}
.register:hover{
    background-color: grey;
    color: white;
    
}