.tit_log{
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;
    font-family: "Anton", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 300%;
    text-shadow: 4px 4px 6px rgba(0, 132, 255, 0.5);
}

.center-avatar{
    margin: auto;
}

.validation_messages{
    color:red;
    font-size: 12px;
    margin-top: 5px;
}

.register{
    
    color: white;
    text-align: center;
    text-decoration-color: white;
    text-decoration: underline;
}

.register:hover{
    background-color: grey;
    color: white;
    
}

.logo{
    margin-top: 30px;

}

.form{
    padding-top: 80px;
}