<ion-header >
  <ion-toolbar>
    <ion-title class="tit_log">login</ion-title>
  </ion-toolbar>
</ion-header>
  
  <ion-content>
  <ion-avatar class="center-avatar">
    <img src="assets/images/user.png" alt="logo" class="logo">
  </ion-avatar>
  <form [formGroup]="loginForm" (ngSubmit)="login(loginForm.value)">
    
    <ion-item class="email">
    <ion-input label="Email" labelPlacement="floating" placeholder="Ingresa tu email" formControlName="email"></ion-input>
  </ion-item>
    <div class="validation_messages">
      <ng-container *ngFor="let validation of Validation_messages.email">
        <div *ngIf="
        (loginForm.get('email')?.hasError(validation.type) &&
        loginForm.get('email')?.dirty)
        "><ion-button id="hover-trigger">?</ion-button>
        <ion-popover trigger="hover-trigger" triggerAction="hover">
          <ng-template>
            <ion-content class="ion-padding"> {{validation.message}}</ion-content>
          </ng-template>
        </ion-popover></div>
      </ng-container>
    </div>
    <ion-item>
    <ion-input label="Password" labelPlacement="floating" placeholder="Ingresa tu contraseña" formControlName="password" type=""></ion-input>
  </ion-item>
    <div class="validation_messages">
      <ng-container *ngFor="let validation of Validation_messages.password">
        <div *ngIf="
        (loginForm.get('password')?.hasError(validation.type) &&
        (loginForm.get('password')?.dirty))
        "> <ion-button id="hover-trigger">?</ion-button>
        <ion-popover trigger="hover-trigger" triggerAction="hover">
          <ng-template>
            <ion-content class="ion-padding"> {{validation.message}}</ion-content>
          </ng-template>
        </ion-popover>
      </div>
      </ng-container>
    </div>
    
    <ion-button shape="round" color="dark" type="submit"[disabled]="!loginForm.valid" expand="full">Enviar</ion-button>
  </form> 
  <div class="validation_messages">
    {{loginMessage}}
  </div>
  
  <div>
    <a href="./register" class="registerL"><p class="register">Registrate</p></a>
  </div>


  </ion-content>
  
