
swiper-container {
    width: 100%;
    height: 100%;
  }
  
swiper-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  
  .title{
    color: #ff0000;
    font-family: "Anton", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 300%;
  }
  
  .slide-1{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    font-size: 100%;
    text-align: center;
    
  }
  .slide-2{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    font-size: 100%;
    text-align: center;

  }
  .slide-3{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    font-size: 100%;
    text-align: center;
  }

  .imagen{
    width: 80%;
  }

.subtext{
  font-family: "Josefin Sans", sans-serif;
  font-style: normal;
  text-decoration: none;
  margin: 10px;
  color: white;
  
}

.TitBar{
  padding-left: 70px;
  border: 1px solid white;
  text-align: center;
  color: #ffffff;
  font-family: "Anton", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 300%;
  text-shadow: 4px 4px 6px rgba(255, 0, 0, 0.5);
}

.casa{

  margin-top: 8px;
  margin-left: 8px;
}
