<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
</head>
<ion-header>
    <ion-toolbar>
    <ion-buttons slot="end">
        <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <h1 class="home_tit">TICKSALE</h1>
    </ion-toolbar>
</ion-header>

<ion-content>
    <swiper-container
    [pagination]="true"
    [slidesPerView]="3">
        <swiper-slide *ngFor="let slide of event_list">
            <img src="{{slide.image}}">
        </swiper-slide>
    </swiper-container>
</ion-content>


<ion-button (click)="goToIntro()" color="warning"><p class="let_bot">Ir a la Intro</p></ion-button>
