.tit_log{
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
}

.center-avatar{
    margin: auto;
}

.validation_messages{
    color:red;
    font-size: 12px;
    margin-top: 5px;
}